<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/front.css">
    <title>|NH| Web Services</title>
</head>
<body>
        <div class="collection">
                <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
                <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
                <a href="#!" class="collection-item">Alan</a>
                <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
              </div>            
</body>
</html>